    /* all levels */
    .sitemap a {
        color: #000;
        text-decoration: none;
    }

    /* first level */
    .sitemap {
        margin: 2em 0;
        list-style-type: none;
        background: url('../../assets/btn/dots1.png') repeat-y 0 0;
        padding: 0;
    }

    .sitemap li {
        display: inline;
    }

    .sitemap li a {
        display: block;
        padding: 0 0 0 15px;
        margin: 0;
        line-height: 24px;
        background: url('../../assets/btn/bullet1.png') no-repeat 0 0;
    }

    .sitemap li a.open {
        background: url('../../assets/btn/bullet1-open.png') no-repeat 0 0;

    }

    /* second level */
    .sitemap ul {
        margin: 0;
        padding: 0;
        background: url('../../assets/btn/dots2.png') repeat-y 30px 0;
    }

    .sitemap li li a {
        padding: 0 0 0 45px;
        background: url('../../assets/btn/bullet2.png') no-repeat 30px 0;
    }

    .sitemap li li a.open {
        background: url('../../assets/btn/bullet2-open.png') no-repeat 30px 0;
    }

    /* third level */
    .sitemap ul ul {
        padding: 0;
        background: url('../../assets/btn/dots3.png') repeat-y 60px 0;

    }

    .sitemap li li li a {
        padding: 0 0 0 75px;
        background: url('../../assets/btn/bullet3.png') no-repeat 60px 0;
    }

    .sitemap li li li a.open {
        background: url('../../assets/btn/bullet3-open.png') no-repeat 60px 0;
    }

    /* fourth level */
    .sitemap ul ul ul {
        padding: 0;
        background: url('../../assets/btn/dots4.png') repeat-y 90px 0;

    }

    .sitemap li li li li a {
        padding: 0 0 0 105px;
        background: url('../../assets/btn/bullet4.png') no-repeat 90px 0;

    }

    .sitemap li li li li a.open {
        background: url('../../assets/btn/bullet4-open.png') no-repeat 90px 0;

    }